<aside>
    <div>
        <ul id="slide-out" class="side-nav fixed z-depth-0">
            <li class="centrado_porcentual">
                <a class="waves-effect modal-trigger tooltipped" data-position="right" data-delay="50" data-tooltip="¡Conocenos!" href="#modal1">
                    <img id="icon_navbar" src="../../img/icon/users.svg" alt="">
                </a>
            </li>
        </ul>
    </div>
    <div id="modal1" class="modal">
        <div class="modal-content">
            <div class="row nosotros_margin">
                <div class="col s12">
                    <h1 class="center-align" id="title_modals_btn">Nosotros</h1>
                </div>
            </div>
            <div class="row center-align">
          <!--       <div class="col s6">
                    <img class="responsive-img circle imgs_modals" src="../../img/us/caro.jpg" alt="">
                    <h5 class="tipografia_modals">Carolina Lugo Ruelas</h5>
                    <h6 class="tipografia_modals">Estudiante en: Ing. Diseño Industrial</h6>
                    <img class="ico_modals" src="../../img/icon/instagram.svg" alt="">
                    <img class="ico_modals" src="../../img/icon/facebook.svg" alt="">
                </div> -->
                <div class="col s12">
                    <img class="responsive-img circle imgs_modals" src="../../img/us/yankredondo.png" alt="">
                    <h5 class="tipografia_modals">Yank Carlos R. Espinal</h5>
                    <h6 class="tipografia_modals">Estudiante en: Ing. Software</h6>
                    <img class="ico_modals" src="../../img/icon/github.svg" alt="">
                    <img class="ico_modals" src="../../img/icon/facebook.svg" alt="">
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <a href="#!" class="modal-action modal-close waves-effect btn-flat">Cerrar</a>
        </div>
    </div>
    <div class="logo-calc">
        <img id="logo_cacl" src="../../img/icon/cal.png" alt="Calculadora Científica">
    </div>
</aside>