<footer>
    <div class="row">
        <div class="col s12 pull-s1">
            <div class="footer-copyright right-align copyright">
                © Calculadora Científica 2018 NN, Inc.
            </div>
        </div>
    </div>
</footer>