<section>
    <form action="/" method="post">
        <div class="row">
            <div class="col s11">
                <div class="z-depth-1 content_calc">
                    <table class="centered responsive-table">
                        <thead>
                            <tr>
                                <td colspan="8" rowspan="0"><input readonly class="right-align display_cal" type="text" name="display" id="display" placeholder="0"></td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td><a class="btn tooltipped waves-effect waves-light colors_fonts z-depth-0 size_btn_large" data-position="right" data-delay="50" data-tooltip="Seno, sin(x)"><input type="button"  onclick="d('sin')" value="Sin"></td>
                                <td><a class="btn tooltipped waves-effect waves-light colors_fonts z-depth-0 size_btn_large" data-position="bottom" data-delay="50" data-tooltip="Seno Hiperbólico, sinh(x)"><input type="button" onclick="d('sinh')" value="sinh"></td>
                                <td><a class="btn tooltipped waves-effect waves-light colors_fonts z-depth-0 size_btn_large" data-position="bottom" data-delay="50" data-tooltip="Contangente, cot(x)"><input type="button" onclick="d('cot')" value="cot"></td>
                                <td><a class="btn tooltipped waves-effect waves-light colors_fonts z-depth-0 size_btn_large" data-position="left" data-delay="50" data-tooltip="Elevar a un poder superior x^y"><input type="button" onclick="caracter(' ** ')" value="X"><sup class="potencia">y</sup></td>
                                <td><input type="button" class="waves-effect waves-light btn colors_fonts z-depth-0 size_btn" onclick="caracter(' ( ')" value="("></td>
                                <td><input type="button" class="waves-effect waves-light btn colors_fonts z-depth-0 size_btn" onclick="caracter(' , ')" value=","></td>
                                <td><input type="button" class="waves-effect waves-light btn colors_fonts z-depth-0 size_btn" onclick="caracter(' ) ')" value=")"></td>
                                <td><input type="button" class="waves-effect waves-light btn colors_fonts z-depth-0 erase_btn size_btn" onclick="clr('')" value="C"> </td>
                            </tr>
                            <tr>
                                <td><a class="btn tooltipped waves-effect waves-light colors_fonts z-depth-0 size_btn_large" data-position="right" data-delay="50" data-tooltip="Coseno, cos(x)"><input type="button" onclick="d('cos')" value="cos"></td>
                                <td><a class="btn tooltipped waves-effect waves-light colors_fonts z-depth-0 size_btn_large" data-position="bottom" data-delay="50" data-tooltip="Coseno hiperbólico, cosh(x)"><input type="button" onclick="d('cot')" value="cosh"></td>
                                <td><a class="btn tooltipped waves-effect waves-light colors_fonts z-depth-0 size_btn_large" data-position="bottom" data-delay="50" data-tooltip="Secante, sec(x)"><input type="button" onclick="d('sec')" value="sec"></td>
                                <td><a class="btn tooltipped waves-effect waves-light colors_fonts z-depth-0 size_btn_large" data-position="left" data-delay="50" data-tooltip="Elevar a un poder superior x^3"><input type="button" onclick="d('x3')" value="x"><sup class="potencia">3</sup></td>
                                <td><input type="button" class="waves-effect waves-light btn colors_fonts size_btn" value="9" onclick="caracter('9')"></td>
                                <td><input type="button" class="waves-effect waves-light btn colors_fonts size_btn" value="8" onclick="caracter('8')"></td>
                                <td><input type="button" class="waves-effect waves-light btn colors_fonts size_btn" value="7" onclick="caracter('7')"></td>
                                <td><input type="button" class="waves-effect waves-light btn colors_fonts z-depth-0 btn_basic_background size_btn" onclick="caracter(' * ')" value="*"></td>
                            </tr>
                            <tr>
                                <td><a class="btn tooltipped waves-effect waves-light colors_fonts z-depth-0 size_btn_large" data-position="right" data-delay="50" data-tooltip="Tangente, tan(x)"><input type="button" onclick="d('tan')" value="tan"></td>
                                <td><a class="btn tooltipped waves-effect waves-light colors_fonts z-depth-0 size_btn_large" data-position="bottom" data-delay="50" data-tooltip="Tangente hiperbólica, tanh(x)"><input type="button" onclick="d('tanh')" value="tanh"></td>
                                <td><a class="btn tooltipped waves-effect waves-light colors_fonts z-depth-0 size_btn_large" data-position="bottom" data-delay="50" data-tooltip="Cosecante, csc(x)"><input type="button" onclick="d('csc')" value="csc"></td>
                                <td><a class="btn tooltipped waves-effect waves-light colors_fonts z-depth-0 size_btn_large" data-position="left" data-delay="50" data-tooltip="Elevar a un poder superior x^2"><input type="button" onclick="d('x2')" value="X"><sup class="potencia">2</sup></td>
                                <td><input type="button" class="waves-effect waves-light btn colors_fonts size_btn" value="6" onclick="caracter('6')"></td>
                                <td><input type="button" class="waves-effect waves-light btn colors_fonts size_btn" value="5" onclick="caracter('5')"></td>
                                <td><input type="button" class="waves-effect waves-light btn colors_fonts size_btn" value="4" onclick="caracter('4')"></td>
                                <td><input type="button" class="waves-effect waves-light btn colors_fonts z-depth-0 btn_basic_background size_btn" onclick="caracter(' - ')" value="-"></td>
                            </tr>
                            <tr>
                                <td><a class="btn tooltipped waves-effect waves-light colors_fonts z-depth-0 size_btn_large" data-position="right" data-delay="50" data-tooltip="Constante Pi≈3.14"><input type="button" value="π" onclick="pi()"></td>
                                <td><a class="btn tooltipped waves-effect waves-light colors_fonts z-depth-0 size_btn_large" data-position="bottom" data-delay="50" data-tooltip="Convertir a entero, ent(x)"><input type="button" onclick="d('raiz')" value="Ent"></td>
                                <td><a class="btn tooltipped waves-effect waves-light colors_fonts z-depth-0 size_btn_large" data-position="bottom" data-delay="50" data-tooltip="Logaritmo del número x de la base 10, log(x)"><input type="button" onclick="d('log')" value="log"></td>
                                <td><a class="btn tooltipped waves-effect waves-light colors_fonts z-depth-0 size_btn_large" data-position="left" data-delay="50" data-tooltip="Eliminar, Del(x)"><input type="button" onclick="del()" value="Del"></td>
                                <td><input type="button" class="waves-effect waves-light btn colors_fonts size_btn" value="3" onclick="caracter('3')"></td>
                                <td><input type="button" class="waves-effect waves-light btn colors_fonts size_btn" value="2" onclick="caracter('2')"></td>
                                <td><input type="button" class="waves-effect waves-light btn colors_fonts size_btn" value="1" onclick="caracter('1')"></td>
                                <td><input type="button" class="waves-effect waves-light btn colors_fonts z-depth-0 btn_basic_background size_btn" onclick="caracter(' + ')" value=" + "></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td><input type="button" class="waves-effect waves-light btn colors_fonts z-depth-0 size_btn" onclick="caracter('.')" value="."></td>
                                <td><input type="button" id="cero" class="waves-effect waves-light btn colors_fonts size_btn" onclick="caracter('0')" value="0"></td>
                                <td><input type="button" class="waves-effect waves-light btn colors_fonts z-depth-0 btn_basic_background size_btn" value="=" onclick='equal()'></td>
                                <td><input type="button" class="waves-effect waves-light btn colors_fonts z-depth-0 btn_basic_background size_btn" onclick="caracter(' / ')" value="/"></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </form>
</section>
